<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="fa fa-check text-success"></i></h2>
                            <h3 class="">10</h3>
                            <h6 class="card-subtitle">Online Servers</h6></div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-b-0"><i class="fa fa-close text-danger"></i></h2>
                        <h3 class="">2</h3>
                        <h6 class="card-subtitle">Offline Servers</h6></div>
                    <div class="col-12">
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-b-0"><i class="fa fa-user text-warning"></i></h2>
                        <h3 class="">10</h3>
                        <h6 class="card-subtitle">Active Connections</h6></div>
                    <div class="col-12">
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-b-0"><i class="fa fa-money text-info"></i></h2>
                        <h3 class="">$99</h3>
                        <h6 class="card-subtitle">This Month's Earnings</h6></div>
                    <div class="col-12">
                        <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-9 col-xlg-9">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div>
                            <h4 class="card-title">Connections</h4>
                            <h6 class="card-subtitle">Successful & Failed Connections in the past 24 Hours</h6>
                        </div>
                        <div class="ml-auto align-self-center">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Site A</h6> </li>
                                <li>
                                    <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Site B</h6> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="campaign ct-charts" style="height:305px!important;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bandwidth</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="fa fa-database text-warning"></i>  10.01GB</h4></div>
                        <div class="ml-auto">
                            <div id="spark8"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Connections</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="fa fa-user text-success"></i>  456</h4></div>
                        <div class="ml-auto">
                            <div id="spark9"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Failed Connections</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="fa fa-exclamation text-danger"></i> 2456</h4></div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
</div>

<%- include('../partials/footer.ejs') %>