<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <!-- Logo icon -->
                <b>
                    <img src="/images/logo.png" class="light-logo" alt="homepage" />
                </b>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0"></ul>
            <!-- ============================================================== -->
            <!-- User profile -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/images/account.png" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li><a href="/account/settings"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li><a class="has-arrow waves-effect waves-dark" href="/dashboard" aria-expanded="false"><i class="fa fa-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">MINECRAFT PROXY</li>
                <li><a class="has-arrow waves-effect waves-dark" href="/proxy/new" aria-expanded="false"><i class="fa fa-plus-square"></i><span class="hide-menu">New Proxy</span></a></li>
                <li><a class="has-arrow waves-effect waves-dark" href="/proxy/manage" aria-expanded="false"><i class="fa fa-cog"></i><span class="hide-menu">Manage Proxies</span></a></li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">DOCS</li>
                <li><a class="has-arrow waves-effect waves-dark" href="/docs/faq" aria-expanded="false"><i class="fa fa-question"></i><span class="hide-menu">FAQ</span></a></li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">BILLING</li>
                <li><a class="has-arrow waves-effect waves-dark" href="/billing/plans" aria-expanded="false"><i class="fa fa-shopping-basket"></i><span class="hide-menu">Plans</span></a></li>
                <li><a class="has-arrow waves-effect waves-dark" href="/billing/invoices" aria-expanded="false"><i class="fa fa-file"></i><span class="hide-menu">Invoices</span></a></li>

                <!-- Admin Panel only TODO -->
                <li class="nav-devider"></li>
                <li class="nav-small-cap">ADMIN</li>
                <li><a class="has-arrow waves-effect waves-dark" href="/admin/users" aria-expanded="false"><i class="fa fa-users"></i><span class="hide-menu">Users</span></a></li>
                <li><a class="has-arrow waves-effect waves-dark" href="/admin/invoices" aria-expanded="false"><i class="fa fa-file"></i><span class="hide-menu">Invoices</span></a></li>
                <li><a class="has-arrow waves-effect waves-dark" href="/admin/analytics" aria-expanded="false"><i class="fa fa-line-chart"></i><span class="hide-menu">Analytics</span></a></li>
                <li><a class="has-arrow waves-effect waves-dark" href="/admin/servers" aria-expanded="false"><i class="fa fa-server"></i><span class="hide-menu">Servers</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->