{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><%=title%></h3>
        </div>
        <!--<div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><%=title%></li>
            </ol>
        </div>-->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row pricing-plan">

                        <%plans.forEach(function(plan){%>
                        <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                            <div class="pricing-box">
                                <div class="pricing-body b-l">
                                    <div class="pricing-header">
                                        <h4 class="text-center"><%=plan.name%></h4>
                                        <h2 class="text-center"><span class="price-sign">$</span><%=plan.price%></h2>
                                        <p class="uppercase">per month</p>
                                    </div>
                                    <div class="price-table-content">
                                        <div class="price-row"><i class="fa fa-user"></i> <%=plan.connections%> Connections</div>
                                        <div class="price-row"><i class="fa fa-server"></i> <%=plan.targets%> Target <% if (plan.targets > 1){ %>Servers<%}else{%>Server<%}%></div>
                                        <div class="price-row"><i class="fa fa-random"></i> VPN Blocker (soon <i class="fa fa-trademark"></i>)</div>
                                        <div class="price-row"><i class="fa fa-asterisk"></i> Bot Protection (soon <i class="fa fa-trademark"></i>)</div>
                                        <div class="price-row"><i class="fa fa-database"></i> Unlimited Bandwidth</div>
                                        <div class="price-row"><i class="fa fa-shield"></i> 37Tbps of Protection</div>
                                        <div class="price-row">
                                            <% if (plan.connections < 0){%>
                                            <a href="https://discord.gg/BKm6Ubs">
                                                <button class="btn btn-warning waves-effect waves-light m-t-20">Contact Us</button>
                                            </a>
                                            <%}else if(plan.price <= 0){%>
                                            <a href="/proxy/new/<%=plan._id%>">
                                                    <button class="btn btn-info waves-effect waves-light m-t-20">Free!</button>
                                            </a>
                                            <%}else{%>
                                            <!--<a href="/proxy/new/<%=plan._id%>">
                                                    <button class="btn btn-success waves-effect waves-light m-t-20">Buy</button>
                                            </a>-->
                                            <button class="btn btn-success waves-effect waves-light m-t-20">Coming Soon!</button>
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%});%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> © 2020 mcprot </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

{% endblock %}
