{% extends 'base.html' %}

{% block content %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><%= title %></h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <a href="#" onclick="history.back()">
                    <li class="breadcrumb-item active">
                        Back <i class="fa fa-history"></i></li>
                </a>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="fa fa-server text-info"></i></h2>
                            <h3 class=""><%= ingress %></h3>
                            <h6 class="card-subtitle">Network Inbound Bandwidth <small>(this month's)</small></h6></div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 100%; height: 6px;"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="fa fa-user text-success"></i></h2>
                            <h3 class=""><%= egress %></h3>
                            <h6 class="card-subtitle">Network Outbound Bandwidth <small>(this month's)</small></h6>
                        </div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar"
                                     style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-b-0"><i class="fa fa-users text-warning"></i></h2>
                            <h3 class=""><%= connection_count %></h3>
                            <h6 class="card-subtitle">Total Network Connections <small>(this month's)</small></h6></div>
                        <div class="col-12">
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar"
                                     style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Failed & Successful Connections <small>(this month's)</small></h4>
                        <div>
                            <canvas id="connections_month" height="258" width="516"
                                    style="width: 516px; height: 258px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Versions <small>(this month's)</small></h4>
                        <div>
                            <canvas id="versions" height="230" width="500"
                                    style="width: 509px; height: 254px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- column -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer"> © 2020 mcprot</footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- =======================================-->

<%- include('partials/scripts.ejs') %>

<script type="text/javascript">

    let versionsData = <%- versions %>;

    $(document).ready(function () {
        let versionsElement = document.getElementById("versions").getContext("2d");

        let versionsChart = new Chart(versionsElement).Pie(versionsData, {
            segmentShowStroke: true,
            segmentStrokeColor: "#fff",
            segmentStrokeWidth: 0,
            animationSteps: 100,
            tooltipCornerRadius: 0,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
            responsive: true
        });

        let connectionsMonthElement = document.getElementById("connections_month").getContext("2d");
        let connectionsMonthData = {
            labels: <%- connections_month_labels %>,
            datasets: [{
                label: "Successful",
                fillColor: "rgba(46, 204, 113,0.9)",
                strokeColor: "rgba(46, 204, 113,0.9)",
                pointColor: "rgba(46, 204, 113,0.9)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(46, 204, 113,0.9)",
                data: <%- successful_connections_month %>
            },
                {
                    label: "Failed",
                    fillColor: "rgba(231, 76, 60,0.9)",
                    strokeColor: "rgba(231, 76, 60,0.9)",
                    pointColor: "rgba(231, 76, 60,0.9)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(231, 76, 60,0.9)",
                    data: <%- failed_connections_month %>
                }]
        };
        Chart.types.Line.extend({
            name: "LineAlt",
            initialize: function () {
                Chart.types.Line.prototype.initialize.apply(this, arguments);

                let ctx = this.chart.ctx;
                let originalStroke = ctx.stroke;
                connectionsMonthElement.stroke = function () {
                    connectionsMonthElement.save();
                    connectionsMonthElement.shadowColor = 'rgba(0, 0, 0, 0.4)';
                    connectionsMonthElement.shadowBlur = 10;
                    connectionsMonthElement.shadowOffsetX = 8;
                    connectionsMonthElement.shadowOffsetY = 8;
                    originalStroke.apply(this, arguments)
                    connectionsMonthElement.restore();

                }
            }
        });
        let connectionsMonthChart = new Chart(connectionsMonthElement).LineAlt(connectionsMonthData, {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.005)",
            scaleGridLineWidth: 0,
            scaleShowHorizontalLines: true,
            scaleShowVerticalLines: true,
            bezierCurve: true,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 2,
            pointHitDetectionRadius: 2,
            datasetStroke: true,
            tooltipCornerRadius: 2,
            datasetStrokeWidth: 0,
            datasetFill: false,
            responsive: true
        });
    });
</script>

{% endblock %}
